/NetBeansProjects/Probandogitmac/nbproject/private/
/NetBeansProjects/JList/nbproject/private/
/NetBeansProjects/Lista1/nbproject/private/
/NetBeansProjects/Lista1/build/
/NetBeansProjects/CitiesCombo/nbproject/private/
/NetBeansProjects/Ejercicio5/nbproject/private/
/NetBeansProjects/Ejercicio5/build/
/NetBeansProjects/Ejercicio4/build/
/NetBeansProjects/Series/nbproject/private/
/NetBeansProjects/Series/build/
/NetBeansProjects/Herencia1/nbproject/private/
/NetBeansProjects/Herencia1/build/
/NetBeansProjects/Herencia2/nbproject/private/
/NetBeansProjects/CitiesCombo/build/
/NetBeansProjects/CalcularDNI/nbproject/private/
/NetBeansProjects/CalcularDNI/build/
/NetBeansProjects/Herencia2/build/
/NetBeansProjects/Herencia3/nbproject/private/
/NetBeansProjects/IntroduccionJDBC/target/
/NetBeansProjects/testingMySQL/nbproject/private/
/NetBeansProjects/ManejoJDBC/target/
/NetBeansProjects/JListExercise/nbproject/private/
/NetBeansProjects/testingMySQL/build/
/NetBeansProjects/Herencia3/build/
/NetBeansProjects/JListExercise/build/
/NetBeansProjects/JListExercise_v2/nbproject/private/
/NetBeansProjects/JListExercise_v2/build/
/NetBeansProjects/ADA/Herencia3/nbproject/private/
/NetBeansProjects/ADA/ManejoJDBC/target/
/NetBeansProjects/ADA/Actividad1/target/
/NetBeansProjects/ADA/Actividad2/target/
