.wrapper {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
   }
   
   .wrapper > div {
    border: 2px solid #4d9aff;
    border-radius: 5px;
    background-color: #a8fffb;
    padding: 1em;
    Color: #d9480f;
   }
   .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
   }