body{
    background-color: #10d673;
}
.wrapper {
    border: 1px solid #000000;
    border-radius: 5px;
    
   }
   
   .wrapper > div {
    border: 0px solid #4d9aff;
    border-radius: 5px;
    
    padding: 1em;
    Color: #000000;
   }
  .contenido{
      text-align: center;
  }



.button{
    background: #d610cc;
}